@charset "utf-8";

* {
  font-family: 'Fredoka One', 'cursive';
}

html body{
  background-color: #fcbf49;
}

/* NAVIGATION BAR */
nav {
  height: 65px;
  background: linear-gradient(to bottom, #24262b, #3f4247); /* set linear gradient background */
}
nav.fixed {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.sticky-wrapper {
  position: sticky;
  top: 0;
}
.navbar {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  z-index: 99;
}
.main-nav{
  z-index: 99;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.nav-item {
  margin: 0 10px;
}
.nav-link {
  padding: 0;
}
.nav-link:hover {
  background: linear-gradient(to right, #fcbf49, #d62828);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: navbar-fade 1s ease-in 1s;
}
@keyframes navbar-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
a.dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 10px;
}
a.dropdown-item:hover {}
nav ul li {
  display: inline-block;
}
nav ul a {
  height: 65px;
  line-height: 65px;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
/* Category Nav Bar */
.categorynavbar {
  height: 100%;
  width: 20vw;
  border: 1px solid #333;
  position: fixed;
  z-index: 1;
  top: 5%;
  left: 0;
  background-color: #fffb7d;
  overflow-x: hidden;
  padding-top: 6vw;
}
.categorynavbar a {
  display: block;
  color: #07283a;
  padding: 10px;
  text-decoration: none;
  font-size: 2vw;
  transition: 0.3s;
  border-bottom: 1px solid #333;
  text-align: center;
	z-index: 9; /* Set a high z-index value to ensure that the tab menu stays above other content */
	
}
.categorynavbar a:hover {
  color: #ff686b;
}
.categorynavbar p {
  display: block;
  color: #ff686b;
  padding: 20px;
  text-decoration: none;
  font-size: 3vw;
  transition: 0.3s;
  font-weight: bold;
  border-bottom: 1px solid #333;
  text-align: center;
	z-index: 1; /* Set a high z-index value to ensure that the tab menu stays above other content */
	
}
.categorynavbar p:hover {
  color: #07283a;
}


/*Search Box*/
.search-form {
  position: fixed;
  left: 23%;
  right: 0;
  top: 7%;
  float: left;
	z-index: 1; /* Set a high z-index value to ensure that the tab menu stays above other content */
}

/* Style the tab menu */
.tab-menu {
  display: flex; /* Display the tab menu items as inline blocks */
  list-style-type: none; /* Remove the bullets */
  margin: 0; /* Remove the default margins */
  padding: 0; /* Remove the default padding */
  margin-top: 9%;
  margin-left: 23%;
  margin-right: 20px;
  cursor: pointer; /* Add a cursor to indicate that the tab menu items are clickable */
	position: relative;
	 z-index: 999; /* Set a high z-index value to ensure that the tab menu stays above other content */
}
/* Style the individual tab menu items */
.tab-menu li {
  flex: 1; /* Make the menu items evenly distributed in the container */
  text-align: center; /* Center the text */
  border: 1px solid #07283a; /* Add a border */
  border-bottom: none; /* Remove the border from the bottom */
  background-color: #fffb7d; /* Set a light gray background color */
	font-weight: normal;
}
/* Style the active tab menu item */
.tab-menu li.active {
  background-color: #ff686b; /* Set a white background color for the active tab */
  font-weight: bold; /* Bold the text of the active tab menu item */
}

.tab-menu li:not(.active) {
  background-color: #fffb7d; /* Set a light gray background color for the inactive tabs */
  font-weight: normal; /* Set the text of the inactive tabs to normal weight */
}

/* Style the tab menu items when hovered */
.tab-menu li:hover {
  background-color: #ff686b; /* Set a light gray background color on hover */
}
/* Style the tab content */
.tab-content {
	  display: none; /* Use the flex layout */
  flex-wrap: wrap; /* Allow the boxes to wrap to the next line */
  padding: 15px; /* Add some padding */
  border: 1px solid #ccc; /* Add a border */
  margin-left: 23%;
  margin-right: 20px;
}
/* Style the active tab content */
.tab-content.active {
  	  display: flex; /* Use the flex layout */
  flex-wrap: wrap; /* Allow the boxes to wrap to the next line */
  padding: 15px; /* Add some padding */
  border: 1px solid #fcba04; /* Add a border */
  margin-left: 23%;
  margin-right: 20px;
}
/* Style the tab content boxes */
.tab-content .box {
	  width: calc(50% - 20px); /* Set the width to 50% of the container and subtract 20px for the margins */
  height: calc(25% - 20px); /* Set the height to 25% of the container and subtract 20px for the margins */
  margin: 10px; /* Add some margin */
  padding: 15px; /* Add some padding */
  border: 1px solid #fffb7d; /* Add a border */
  display: flex; /* Display the box as a flex container */
  align-items: center; /* Align the items vertically */
	cursor: pointer; /* Add a cursor to indicate that the tab menu items are clickable */

}
/* Style the box image */
.tab-content .box img {
  width: 55%; /* Set the width of the image */
  height: 210px; /* Set the height of the image */
  margin-right: 15px; /* Add some margin to the right of the image */
}
/* Style the box description */
.tab-content .box .description {
  font-size: 2vw; /* Set the font size of the description */
}
/*FOOTER*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer-container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  margin-left: 30px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fca311;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
/* back to top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1;
  border: none;
  background-color: #ffbf25;
  outline: none;
  color: black;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}
#myBtn:hover {
  background-color: #FC493e;
}
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
/* Responsive layout - make the items stack vertically on smaller screens */
@media (max-width: 600px) {
  .item {
    width: 100%;
  }
}