*{
    margin:0;
    padding: 0%;
    text-decoration: none;
    font-family: 'Fredoka One', 'cursive';
}

html body{
    background-color: #fcbf49;
}

div.card{
    top: 50%;
    left: 50%;
    transform: translate(-135%, -25%);
    background-color: #fffb7d;
    border-radius: 15px;
}
img{
    margin: 15px;
}
p{
    text-align: center;
}

input.email-address{
    margin: 10px;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
}

::-webkit-input-placeholder{
    text-align: center;
}

.forgot-btn{
    margin-left: 150px;
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: 0.6s ease;
}

.forgot-btn:hover{
    background-color: white ;
    color: black ;
}